<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Styles/Bedroom.css">
    <link rel="stylesheet" href="/Styles/Common.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <header>
        <div class="logo">
            <li><a href="/index.html"><h1>Indoor</h1></a></li>
            <div class="line"></div>
        </div>
        <input type="checkbox" name="" id="chek">
        <label for="chek">
            <div class="burger">
                <div class="line2"></div>
                <div class="line2"></div>
                <div class="line2"></div>
            </div>
        </label>
        <nav>
            <ul>
                <li><a href="/Templates/ShopAll.html">Shop All</a></li>
                <li><a href="/Templates/Bedroom.html" class="black">Bedroom</a></li>
                <li><a href="/Templates/Kitchen.html">Kitchen</a></li>
                <li><a href="/Templates/Decor.html">Decor</a></li>
                <li><a href="/Templates/About.html">About</a></li>
                <li><a href="/Templates/Contact.html">Contact</a></li>
                <li><a href="/Templates/Login.html"><i class="fa-solid fa-circle-user"></i>Login</a></li>
                <li><button><i class="fa-solid fa-cart-shopping"></i></button></li>
            </ul>
        </nav>
    </header>

    <main>
    <div class="main">
    <div class="side">
      <div><a href="/index.html">Home</a> &gt; Bedroom</div>
      <h1>Bedroom</h1>
      <div style="margin-top: 40px;">
        <div>Filter by</div>
        <hr />
        <div style="margin-top: 12px;">Price</div>
        <input type="range" min="29" max="158" value="29" style="width: 100%; margin-top: 8px;">
        <div class="range">
          <span>$29</span>
          <span>$158</span>
        </div>
        <hr style="margin-top: 20px;" />
        <div class="color">Color <span style="float:right; cursor:pointer;">+</span></div>
        <hr />
      </div>
    </div>

        <div class="items">

        <a class="item" href="./Product.html">
            <div class="img"></div>
            <div class="name">Cushion Covers</div>
            <div class="price">$29.00</div>
        </a>

        <a class="item" href="./Product.html">
            <div class="img"></div>
            <div class="name">Cushion Covers</div>
            <div class="price">$29.00</div>
        </a>

        <a class="item" href="./Product.html">
            <div class="img"></div>
            <div class="name">Cushion Covers</div>
            <div class="price">$29.00</div>
        </a>

        <a class="item" href="./Product.html">
            <div class="img"></div>
            <div class="name">Cushion Covers</div>
            <div class="price">$29.00</div>
        </a>

        <a class="item" href="./Product.html">
            <div class="img"></div>
            <div class="name">Cushion Covers</div>
            <div class="price">$29.00</div>
        </a>

        <a class="item" href="./Product.html">
            <div class="img"></div>
            <div class="name">Cushion Covers</div>
            <div class="price">$29.00</div>
        </a>



    </div>
  </div>
</main>

    <footer>
        <div class="center">
            <div class="contactus">
                <h3>Contact Us</h3>
                <p>1-800-000-0000</p>
                <p>info@mysite.com</p>
                <div class="socials">
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://x.com/"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a>
                </div>
            </div>
            <div class="pay">
                <h3>We Accept</h3>
                <div class="paymentmethods">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Visa_Inc._logo.svg" alt="Visa">
                <img src="https://marketplace.commercetools.com/img/containers/assets/pp_h_rgb_450-450.png/b0735facc519b33d6ceb1a7133fa77ad.png" alt="Paypal">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_%282018%29.svg" alt="American Express">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/MasterCard_Logo.svg/2560px-MasterCard_Logo.svg.png" alt="Mastercard">
                </div>
            </div>
            <div class="join">
                <h3>Join Our Mailing List</h3>
                <form action="">
                    <label for="email"></label>
                    <input type="email" id="email" required>
                    <div class="checkboxdiv">
                    <input type="checkbox" id="checkbox"> <label for="checkbox">Yes, subscribe me to your newsletter.</label> 
                    </div>
                    <button>Subscribe Now</button>
                </form>
            </div>
        </div>
        <div class="wix">
            <p>@2035 By INDOOR. Powered and secured by <a href="https://www.wix.com/?utm_campaign=vir_created_with">Wix</a></p>
        </div>
    </footer>
</body>
</html>